<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex p-flex-align-center p-flex-justify-sb">
                <ul>
                    <li>

                    </li>
                    <li>

                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">About</a>
                    </li>
                    <li>
                        <a href="https://github.com/Nihilus888">Github</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/elliott-tay-computing/">Linkedin</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
