<header>
  <div class="container">
    <div class="row">
      <div
        class="col-sm-12 p-flex p-flex p-flex-align-center p-flex-justify-sb"
      >
        <ul>
          <li></li>
          <li></li>
        </ul>
        <ul>
          <li>
            <a href="#" [routerLink]="['/']" [routerLinkActive]="['is-active']"
              >Home</a
            >
          </li>
          <li>
            <a
              href="https://docs.google.com/document/d/1DRiwWG02irmNQWzMiMCV7KV3r0cSBXev/edit?usp=sharing&ouid=111075217899376721464&rtpof=true&sd=true"
              >Resume</a
            >
          </li>
          <li>
            <a href="https://github.com/Nihilus888">Github</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/elliott-tay-computing/"
              >Linkedin</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
