<header>
  <div class="container">
    <div class="row">
      <div
        class="col-sm-12 p-flex p-flex p-flex-align-center p-flex-justify-sb"
      >
        <ul>
          <li></li>
          <li></li>
        </ul>
        <ul>
          <li>
            <i class="fa-solid fa-house"></i>
            <a href="#" [routerLink]="['/']" [routerLinkActive]="['is-active']">
              Home</a
            >
          </li>
          <li>
            <i class="fa-solid fa-file"></i>
            <a
              href="https://docs.google.com/document/d/1zuj75kdLGIsGQ3KIwY2l27POQspPo5vl/edit?usp=sharing&ouid=111075217899376721464&rtpof=true&sd=true"
              target="_blank"
            >
              Resume</a
            >
          </li>
          <li>
            <i class="fa-brands fa-github"></i>
            <a href="https://github.com/Nihilus888" target="_blank"> Github</a>
          </li>
          <li>
            <i class="fa-brands fa-linkedin"></i>
            <a
              href="https://www.linkedin.com/in/elliott-tay-computing/"
              target="_blank"
              > Linkedin</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<script
  src="https://kit.fontawesome.com/a68335bc3b.js"
  crossorigin="anonymous"
></script>
