<section>
  <div class="container">
    <!--Side bar-->
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
        <h1 class="mt-5 mb-4">Skills <i class="fa-solid fa-gear"></i></h1>
        <ol>
          <li>MERN stack <i class="fa-solid fa-layer-group"></i></li>
          <li>Javascript <i class="fa-brands fa-square-js"></i></li>
          <li>Python <i class="fa-brands fa-python"></i></li>
          <li>PHP <i class="fa-brands fa-php"></i></li>
          <li>React JS <i class="fa-brands fa-react"></i></li>
          <li>Vue JS <i class="fa-brands fa-vuejs"></i></li>
          <li>Angular <i class="fa-brands fa-angular"></i></li>
          <li>Express JS <i class="fa-brands fa-node-js"></i></li>
          <li>Node JS <i class="fa-brands fa-node"></i></li>
          <li>Laravel <i class="fa-brands fa-laravel"></i></li>
          <li>HTML <i class="fa-brands fa-html5"></i></li>
          <li>CSS <i class="fa-brands fa-css3"></i></li>
          <li>CSS Tailwind <i class="fa-brands fa-css3"></i></li>
          <li>Bootstrap <i class="fa-brands fa-bootstrap"></i></li>
          <li>MongoDB <i class="fa-solid fa-database"></i></li>
          <li>PostgreSQL <i class="fa-solid fa-database"></i></li>
          <li>MySQL <i class="fa-solid fa-database"></i></li>
          <li>Figma <i class="fa-brands fa-figma"></i></li>
          <li>UI/UX <i class="fa-solid fa-pen-fancy"></i></li>
          <li>Data Science <i class="fa-solid fa-flask"></i></li>
          <li>Data Analytics <i class="fa-solid fa-chart-simple"></i></li>
          <li>Sci-kit Learn <i class="fa-solid fa-microchip"></i></li>
          <li>Pandas <i class="fa-solid fa-magnifying-glass-chart"></i></li>
          <li>Numpy <i class="fa-sharp fa-solid fa-file-excel"></i></li>
          <li>Seaborn <i class="fa-solid fa-chart-simple"></i></li>
          <li>Microsoft Excel <i class="fa-solid fa-table"></i></li>
          <li>Microsoft Word <i class="fa-brands fa-windows"></i></li>
          <li>Trading <i class="fa-solid fa-chart-line"></i></li>
          <li>Investing <i class="fa-solid fa-money-bill"></i></li>
          <li>Finance <i class="fa-solid fa-building-columns"></i></li>
          <li>Philosophy <i class="fa-solid fa-book"></i></li>
        </ol>
      </div>

      <!--Main bar-->
      <div class="col-sm-7">
        <span class="badge rounded-pill bg-secondary">Software Engineer</span>
        <h1>Elliott Tay</h1>
        <p class="intro">
          A full stack software engineer who has knowledge in machine learning
          and data science. Always eager to learn new tech stacks and STEM
          knowledge to merge the theoretical with the practical to create
          innovative products to solve a plethora of issues while also
          generating useful insights and analytics.
        </p>

        <h3 class="swe-projects">
          Software Engineering Projects
          <i class="fa-solid fa-screwdriver-wrench"></i>
        </h3>

        <!--grid to display 2 cards per row-->
        <div class="grid-container">
          <div class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img
                    src="/assets/img/Simon.jpg"
                    alt="Avatar"
                    style="width: 300px; height: 200px"
                  />
                </div>
                <div class="flip-card-back">
                  <h4 class="mt-2">Simon Game</h4>
                  <h6 class="pl-2 pr-2">
                    A memory game where you need to click on the right buttons
                    using vanilla HTML, CSS and Javascript
                  </h6>
                  <form
                    action="https://github.com/Nihilus888/Simon-Game"
                    method="get"
                    target="_blank"
                  >
                    <button
                      type="button"
                      class="btn btn-outline-info btn-primary mt-3 text-white mt-3"
                      type="submit"
                    >
                      Read More
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img
                    src="/assets/img/Random.jpg"
                    alt="Avatar"
                    style="width: 300px; height: 200px"
                  />
                </div>
                <div class="flip-card-back">
                  <h4 class="mt-2">Random Shop</h4>
                  <h6 class="pl-2 pr-2">
                    Ecommerce store with full CRUD, login/logout and
                    registration features. Built using EJS, MongoDB and CSS
                    Tailwind.
                  </h6>
                  <form
                    action="https://github.com/Nihilus888/Random-Shopping"
                    method="get"
                    target="_blank"
                  >
                    <button
                      type="button"
                      class="btn btn-outline-info btn-primary mt-3 text-white mt-3"
                      type="submit"
                    >
                      Read More
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img
                    src="/assets/img/Calendar.png"
                    alt="Avatar"
                    style="width: 300px; height: 200px"
                  />
                </div>
                <div class="flip-card-back">
                  <h4 class="mt-2">Calendar App</h4>
                  <h6 class="pl-2 pr-2">
                    Calendar with full CRUD abilities which utilise advanced
                    knowledge of React hooks such as useContext and useReducer.
                  </h6>
                  <form
                    action="https://github.com/Nihilus888/Calendar-App"
                    method="get"
                    target="_blank"
                  >
                    <button
                      type="button"
                      class="btn btn-outline-info btn-primary mt-3 text-white mt-3"
                      type="submit"
                    >
                      Read More
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img
                    src="/assets/img/Software.jpg"
                    alt="Avatar"
                    style="width: 300px; height: 200px"
                  />
                </div>
                <div class="flip-card-back">
                  <h4 class="mt-1">Software Engineer Job Portal</h4>
                  <h6 class="pl-2 pr-2">
                    Job Portal with REST API calls to 3rd party job portals,
                    both CRUD jobs and profile.
                  </h6>
                  <form
                    action="https://github.com/Nihilus888/Software-Engineer-Job-Portal-Backend"
                    method="get"
                    target="_blank"
                  >
                    <button
                      type="button"
                      class="btn btn-outline-info btn-primary mt-3 text-white mt-3"
                      type="submit"
                    >
                      Read More
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img
                    src="/assets/img/Bull.jpg"
                    alt="Avatar"
                    style="width: 300px; height: 200px"
                  />
                </div>
                <div class="flip-card-back">
                  <h4 class="mt-2">IBull</h4>
                  <h6 class="p-2">
                    Stock Viewer with machine learning and data science concepts
                    to graph out stock prices and predict its prices
                  </h6>
                  <form
                    action="https://github.com/Nihilus888/ibull"
                    method="get"
                    target="_blank"
                  >
                    <button
                      type="button"
                      class="btn btn-outline-info btn-primary mt-3 text-white mt-3"
                      type="submit"
                    >
                      Read More
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h3 class="swe-projects">
          Data Science Projects <i class="fa-solid fa-flask"></i>
        </h3>

        <!--grid to display 2 cards per row-->
        <div class="grid-container">
          <div class="grid-item">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">1. Meta Stock Price Prediction</h5>
                <p class="card-text">
                  Predicting the meta stock price using EDA and time series
                </p>
                <form
                  action="https://www.kaggle.com/code/nihilus888/meta-stock-price-prediction"
                  method="get"
                  target="_blank"
                >
                  <button
                    type="button"
                    class="btn btn-outline-info btn-success mt-3 text-white mt-3"
                    type="submit"
                  >
                    Read More
                  </button>
                </form>
              </div>
            </div>
          </div>

          <div class="grid-item">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">2. Gold Price Prediction</h5>
                <p class="card-text">
                  Predicting the price of gold using EDA and Moving Averages
                </p>
                <form
                  action="https://www.kaggle.com/code/nihilus888/gold-price-analysis-and-prediction"
                  method="get"
                  target="_blank"
                >
                  <button
                    type="button"
                    class="btn btn-outline-info btn-success mt-3 text-white mt-3"
                    type="submit"
                  >
                    Read More
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
