<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7">
        <span>Software Engineer</span>
        <h1>Elliott Tay</h1>
        <p class="intro">
          A full stack software engineer who has knowledge in machine learning
          and data science. Always eager to learn new tech stacks and STEM
          knowledge to merge the theoretical with the practical to create
          innovative products to solve a plethora of issues while also
          generating useful insights and analytics.
        </p>

        <h3 class="swe-projects">Software Engineering Projects</h3>

        <!--grid to display 2 cards per row-->
        <div class="grid-container">
          <div class="grid-item">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">1. Simon's Game</h5>
                <p class="card-text">
                  A memory game built using pure HTML, CSS and Javascript which
                  has a high score using local storage.
                </p>
                <button type="button" class="btn btn-outline-info btn-primary mt-3 text-white mt-3">
                  Read More
                </button>
              </div>
            </div>
          </div>

          <div class="grid-item">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">2. Random Shop</h5>
                <p class="card-text">
                  An ecommerce site with full CRUD and login/logout with
                  authentication and registration capabilities
                </p>
                <button type="button" class="btn btn-outline-info btn-primary mt-3 text-white">
                  Read More
                </button>
              </div>
            </div>
          </div>

          <div class="grid-item">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">3. Software Engineering</h5>
                <p class="card-text">
                  A tech job portal which allows you to search, save, create
                  jobs from other job portals and created on site.
                </p>
                <button type="button" class="btn btn-outline-info btn-primary mt-3 text-white mt-3">
                  Read More
                </button>
              </div>
            </div>
          </div>

          <div class="grid-item">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">4. IBull</h5>
                <p class="card-text">
                  Stock Viewer with Data Science and Machine Learning that can
                  display charts of a stock that you want with a predicted
                  price.
                </p>
                <button type="button" class="btn btn-outline-info btn-primary mt-3 text-white mt-3">Read More</button>
              </div>
            </div>
          </div>
        </div>

        <h3 class="swe-projects">Data Science Projects</h3>

        <!--grid to display 2 cards per row-->
        <div class="grid-container">
          <div class="grid-item">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <button type="button" class="btn btn-primary">Button</button>
              </div>
            </div>
          </div>

          <div class="grid-item">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <button type="button" class="btn btn-primary">Button</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
